# got from https://github.com/Hopson97/multi-pong/blob/master/.clang-format

Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 120

BreakBeforeBraces: Stroustrup
FixNamespaceComments: true
IndentCaseLabels: true
NamespaceIndentation: All

BreakConstructorInitializersBeforeComma: true
AlwaysBreakTemplateDeclarations: true