[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest
[submodule "spdlog"]
	path = spdlog
	url = https://github.com/gabime/spdlog
[submodule "asio"]
	path = asio
	url = https://github.com/chriskohlhoff/asio
